/*general styling for the whole webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*styling for the header bar*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    height: 95px;
}

/*formatting the Horiseon text in the header*/
h1 {
    display: inline;
    font-size: 48px;
    float: left;
}

/*changing the color of the 'seo' in the Horiseon text*/
h1 .seo {
    color: #d9dcd6;
}

/*styling for the links to the right of the header bar*/
li {
    list-style-type: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*styling for the text of the links in the header*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*formatting the top image on the website*/
.main-image {
    width:100%;
    height: auto;
    display:block;
margin-bottom: 15px;
}

/*adding background color to the body section*/
body {
    background-color: #d9dcd6;
}

/*formatting of the boxes on the left stay next to the boxes on the right/on the left of the webpage*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*formatting of the box on the right stay next to the boxes on the left/on the right of the webpage*/
.float-right {
    float: right;
    margin-left: 25px;
}


/*formatting the text boxes on the left*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*formatting the three text boxes on the left of the webpage*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 30px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*formatting the titles of the text boxes on the left*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*styling for the text in the 'content' boxes*/
p {
    font-size: 16px;
    margin-bottom: 30px;
}

/*images in left text boxes are formatted and centered*/
.content img {
    max-height: 200px;
    margin:20px;
}

/*formatting of text box to the right of the webpage*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/*formatting of subheadings in the text box to the right of the webpage*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*formatting of the images in the text box to th right of the webpage*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*next two are styling for the footer at the bottom of the webpage*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
